@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
body{
    background-color: rgb(84, 87, 69);
}
.calculator{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:25px;

}
.head-c{
color:white;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: lighter;}
.nums{
    display:flex;
    flex-direction: column;
    gap:25px;
    margin-right: 25px;
}


.num{
    width:50px;
    height: 35px;
    background-color:#BCE29E;
}
.num-column{
    display: flex;
    flex-direction: row;
}
.board{
    background-color:#FF8787;
    padding: 45px;
    border-radius: 10px;

}
.analog{
   background-color: #F8C4B4;
   font-family: "Silkscreen",cursive;
   padding:20px;
   
}
.newDisplay{
    background-color: #BCE29E;
    font-family: "Silkscreen",cursive;
    padding:20px;
    background-color:rgb(170, 97, 97);
 }
.operators{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    gap:15px;
    padding-left: 50px;
    align-items: stretch;
}
.buttons{
    display:flex;
    flex-direction: row-reverse;
    padding-top: 20px;
    border-radius: 10px;
}
.operator{
    background-color: #F8C4B4;
}