@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

.calculator{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: gainsboro;
    padding:25px;
    
}
.nums{
    display:flex;
    flex-direction: column;
    gap:25px;
    margin-right: 25px;
}

.btn{
    width:50px;
    height: 35px;
}
.num-column{
    display: flex;
    flex-direction: row;
}
.board{
    background-color: blanchedalmond;
    padding: 45px;
}
.analog{
   background-color: white;
   font-family: "Silkscreen",cursive;
   padding:20px;
}
.operators{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    gap:15px;
    padding-left: 50px;
    align-items: stretch;
}
.buttons{
    display:flex;
    flex-direction: row-reverse;
    padding-top: 20px;
}